<h1>Step 2: Select your Config and Options</h1>
<label>
  <span>Config:</span>
  <select [(ngModel)]="configId" name="config">
    <option [value]="0">Choose...</option>
    <option *ngFor="let config of options.configs" [value]="config.id">
      {{ config.description }}
    </option>
  </select>
</label>
<p *ngIf="configId && options.configs.length">
  Range: {{ range }} miles -
  Max Speed: {{ speed }} -
  Cost: {{ price | currency:'USD' }}
</p>
<label *ngIf="options.towHitch">
  <span>Tow Hitch</span>
  <input type="checkbox" [(ngModel)]="towHitch" name="towHitch">
</label>
<label *ngIf="options.yoke">
  <span>Yoke Steering Wheel</span>
  <input type="checkbox" [(ngModel)]="yoke" name="yoke">
</label>
