<h1>Step 2: Select your Config and Options</h1>
<label>
  <span>Config:</span>
  <select id="configSelect" [(ngModel)]="configId" name="config">
    <option [value]="0">Choose...</option>
    <ng-container *ngIf="options">
      <option *ngFor="let config of options.configs" [value]="config.id">
        {{ config.description }}
      </option>
    </ng-container>
  </select>
</label>
<ng-container *ngIf="options">
  <p *ngIf="configId">
    Range: {{ range }} mi -
    Top Speed: {{ speed }} mph -
    Cost: {{ price | currency:'USD' }}
  </p>
  <label *ngIf="options.towHitch">
    <span>Tow Hitch</span>
    <input type="checkbox" id="includeTow" [(ngModel)]="towHitch" name="towHitch">
  </label>
  <label *ngIf="options.yoke">
    <span>Yoke Steering Wheel</span>
    <input type="checkbox" id="includeYoke" [(ngModel)]="yoke" name="yoke">
  </label>
</ng-container>
